<ion-header>
  <ion-toolbar>
    <ion-title>Output Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>First Input</ion-label>
  <ion-text>{{userInput1}}</ion-text>
</ion-item>

<ion-item>
  <ion-label>Second Input</ion-label>
  <ion-text>{{userInput2}}</ion-text>
</ion-item>

<ion-item>
  <ion-label>Sum of Two Numbers</ion-label>
  <ion-text>{{ValSum}}</ion-text>
</ion-item>

<ion-item>
  <ion-label>Difference of Two Numbers</ion-label>
  <ion-text>{{ValSubtract}}</ion-text>
</ion-item>

<ion-item>
  <ion-label>Product of Two Numbers</ion-label>
  <ion-text>{{ValMultiply}}</ion-text>
</ion-item>

<ion-item>
  <ion-label>Quotient of Two Numbers</ion-label>
  <ion-text>{{ValDivide}}</ion-text>
</ion-item>

<ion-item>
  <ion-label>Modulo of Two Numbers</ion-label>
  <ion-text>{{ValModulo}}</ion-text>
</ion-item>

<ion-item>
  <ion-label>Fruit Chosen</ion-label>
  <ion-text>{{ValModulo}}</ion-text>
</ion-item>
<ion-button expand="block" (click) = "GoToInputPage()">Go To Input Page</ion-button>

</ion-content>
